<!-- Navbar-->
<section class="body">
    <div class="nav_bar">
      <nav class="navbar">
        <div class="nav-items nav-position">
          <a routerLink="/">My Urls</a>
          <a routerLink="/">Pricing</a>
          <a routerLink="/">Features</a>
          <a><button routerLink="/">Getting Started</button></a>
        </div>
        <div class="logo">
          <a class="navbar-brand" routerLink="/"> LINKIFY </a>
        </div>
      </nav>
    </div>
    <div class="body-content">
      <div class="text-info">
         <p>
          A simple link <br>
          but a powerful tool <br>
          for <span>sms marketing</span>
      </p>
      </div>
      <div class="shortener-card">
          <div class="long-url">
              <span>icon</span>
              <p>Enter your long url</p>
          </div>
          <input class="first-input" type="text" name="long-url"/>
          <div class="input-group">
          <div class="short-url">
              <span>icon</span>
              <p>Customize your link</p>
            </div>
          <input class="second-input" type="text" name="short-url"/>
            </div>
          <div class="call-to-action">
              <!-- <a routerLink="/">My Url</a>
              <div class="vl"></div> -->
              <button routerLink="/">Linkify</button>
          </div>
      </div>
      <div class="vector-asset">
        <img src="../../assets/undraw_link_shortener_mvf6.svg" alt="person shortening link illustration" />
      </div>
      <div class="polygon">
      </div>
    </div>
  </section>
  